body {
    background-image: url(https://kaupalph.sirv.com/Imagens/imagens/pouca%20chuva%20%2C%20verde.jpg);
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: rgb(125, 61, 61);
    width: 350px;
    height: 150px;

}

#consultar {
    height: 25px;
    width: 80px;
}

#videofundo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}